<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title> Titanic </title>

  <script src="https://kit.fontawesome.com/47101d2035.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <style>
    .center {
      position: absolute;
      text-align: center;
      left: 40%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-family: Arial, Helvetica, sans-serif;
      background-color: whitesmoke;
       }
  </style>
</head>


<body class="center w-70">
<div style="border: 2px solid black; width : 130%; border-radius: 10%; padding: 10px; margin: 20px; margin-top: 70px;">

  <h1 style="color:black; font-weight: 700;">
    <i class="fas fa-ship"></i> Titanic Survival 
  </h1>

  <p style="color:black; font-weight: 700;">
    Can the passenger survive?
  </p>
<hr>
  <form action="result">
    {% csrf_token %}

    <div class="form-group">
      <input class="form-control" placeholder="Passenger Class (1, 2 or 3)" required type="number" min="1" max="3" name="pclass">
    </div>


    <div class="form-group">
      <input class="form-control" placeholder="Sex (0 for Male, 1 for Female)" required type="number" min="0" max="1" name="sex">
    </div>


    <div class="form-group">
      <input class="form-control" placeholder="Age(Between 0 and 80)" required
       type="number" min="0" max="80" name="age">
    </div>


    <div class="form-group">
      <input class="form-control" placeholder="No. of Sibling(s) or Spouse(s)(Between 0 and 10)" required
       type="number" min="0" max="10" name="sibsp">
    </div>


    <div class="form-group">
      <input class="form-control" placeholder="Parch" type="number" max="6" min="0"  required name="parch">
    </div>


    <div class="form-group">
      <input class="form-control" placeholder="Ticket Fare(Between 0 and 600, No dollar sign required)" required\
      max="600" min="0" type="number" name="fare">
    </div>

    <div class="form-group">
      <input class="form-control" placeholder="Embark C (1 if applies, 0 if not)" required
       type="number" min="0" max="1" name="embC" id="embC">
    </div>


    <div class="form-group">
      <input class="form-control" placeholder="Embark Q (1 if applies, 0 if not)" required
       type="number" min="0" max="1" name="embQ" id="embQ">
    </div>


    <div class="form-group">
      <input class="form-control" placeholder="Embark S (1 if applies, 0 if not)" required
       type="number" min="0" max="1" name="embS" id="embS">
    </div>

    <hr>

    <input class="btn btn-primary btn-lg" type="submit" onclick="myFunction()==true" value='Predict'>
    <input class="btn btn-danger btn-lg" type="reset" value='Reset'>

  </form>

</div>
</body>
<script>
  function myFunction() {
    embC = document.getElementById("embC").value;
    embQ = document.getElementById("embQ").value;
    embS = document.getElementById("embS").value;
    if (embC==1 && embQ ==0 && embS ==0){
      return true;
    }
    else if (embQ==1 && embC ==0 && embS ==0){
      return true;
    }
    else if (embS==1 && embQ ==0 && embC ==0){
      return true;
    }
    else if (embS==0 && embQ ==0 && embC ==0){
      alert('A person has to embark from one place.');
      return false;
    }
    else{
      alert('A person embarks from one place only.');
      return false;
    }
}
</script>

</html>